<div class="row marketing">
  <div class="col-sm-6">
    <h4>
    Welcome to our car app!
    </h4>
    <p>
      Browse the site and see if there's a car you like.
    </p>
    <p>
      Find our inventory <%= link "here", to: Routes.car_path(@conn, :index) %>
    </p>
  </div>
</div>