<table>
  <thead>
    <tr>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for car <- @cars do %>
    <tr>
      <td>
        <%= car_title(car) %>
      </td>

      <td>
        <span><%= link "Show", to: Routes.car_path(@conn, :show, car) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
<%= paginate @conn, @kerosene %>

