<h1>Show Car</h1>

<ul>
    <%= "#{@car.car_Year} #{@car.car_Make} #{@car.car_Model}"%>
</ul>

<span><%= link "Edit", to: Routes.car_path(@conn, :edit, @car) %></span>
<span><%= link "Back", to: Routes.car_path(@conn, :index) %></span>
